// This shows 1st page with Dashboard, all components can be edited in
/components dir

<template>
  <main>
    <div class="container px-4 bg-gray-200 w-64 rounded-2xl py-2">
      <h1 class="text-center text-lg">Dashboard</h1>
    </div>
    <div class="mainscreen grid grid-cols-2 auto-rows-auto gap-x-4">
      <chart7d />
      <license />
      <shortinfo />
    </div>
  </main>
</template>

<script>
import shortinfo from "../components/shortinfo.vue";
import license from "../components/license.vue";
import chart7d from "../components/chart7d.vue";
export default {
  name: "App",
  components: {
    shortinfo,
    license,
    chart7d,
  },
};
</script>
