// This is used for managing license and devices connected to network with CSCP
installed on

<template>
  <main>
    <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
      <h1 class="text-lg">License</h1>
      <div
        class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative"
      >
        <h1 class="text-lg">Connected Computers</h1>
        <h1 class="text-xl">{{ agents }}/{{ licences }}</h1>
        <br />
        <h1 class="text-lg">License</h1>
        <h1 class="text-xl">{{ type }}</h1>
      </div>
    </div>
    <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
      <h1 class="text-lg">Connected devices</h1>
      <div
        class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative"
      >
        <h1 class="text-lg">Connected Computers</h1>
        <h1 class="text-xl">{{ devices }}</h1>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";
import license from "../components/license.vue";
export default {
  name: "App",
  components: {
    license,
  },
  data() {
    return {
      name: "license",
      agents: null,
      licences: null,
      type: null,
      devices: null,
    };
  },
  methods: {
    api_request() {
      axios
        .get("http://54.37.205.166/license")
        .then(
          (response) => (
            (this.agents = response.data.agents),
            (this.licences = response.data.licences),
            (this.type = response.data.type)
          )
        );
    },
    api_request2() {
      axios.get("http://54.37.205.166/agents/").then(
        (response) => (this.devices = response)
        // (this.licences = response.data.licences)
      );
    },
  },
  mounted() {
    this.api_request();
    this.api_request2();
  },
};
</script>
