// In settings you can manage settings like notifications via email when attack
is detected etc.

<template>
  <main>
    <div class="container px-4 bg-gray-200 w-64 rounded-2xl py-2">
      <h1 class="text-center text-lg">Settings</h1>
    </div>
    <div class="mainscreen grid grid-cols-2 auto-rows-auto gap-x-4">
      <button @click="alert('Changed config')">Config change</button>
    </div>
  </main>
</template>
