// Just graphs and stats showing how good everything is working 
// Fix broken
screen sizing!
<template>
  <main>
    <div class="container px-4 bg-gray-200 w-64 rounded-2xl py-2">
      <h1 class="text-center text-lg">Statistics</h1>
    </div>
    <div class="mainscreen grid grid-cols-2 auto-rows-auto gap-x-4">
      <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-2">
        <doughnutChart />
      </div>
      <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
        <chart7d />
      </div>
      <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-0">
        <h1 class="text-lg">...In short</h1>
        <div
          class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative"
        >
          <div class="py-4 text-center grid grid-cols-3">
            <p>Total Blocked</p>
            <p>Requests Scanned</p>
            <p>Some useful info</p>
            <p>{Some Data}</p>
            <p>{Some Data}</p>
            <p>{Some Data}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import doughnutChart from "../components/doughnutChart.vue";
import chart7d from "../components/chart7d.vue";
export default {
  name: "Stats",
  components: {
    doughnutChart,
    chart7d,
  },
};
</script>
