// Change password or key for authentication with other devices, enable 2FA etc.

<template>
  <main>
    <div class="container px-4 bg-gray-200 w-64 rounded-2xl py-2">
      <h1 class="text-center text-lg">User Settings</h1>
    </div>
    <div class="mainscreen grid grid-cols-2 auto-rows-auto gap-x-4"></div>
  </main>
</template>
