<template>
  <div class="name">
    {{ username }}
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: "api_name",
      error: null,
      username: "",
    };
  },
  methods: {
    connectionN() {
      this.$toastMsg(`Saved 🎉 ${this.post.title}`);
    },
  },
  async fetchNews() {
    try {
      this.error = null;
      const url = `http://54.37.205.166/general/user`;
      const response = await axios.get(url);
      const name = response.name;
      this.username = name;
      console.log(this.username);
    } catch (err) {
      if (err.response) {
        this.error = {
          title: "Server Response (ಠ_ಠ)",
          message: err.message,
        };
      } else {
        this.error = {
          title: "You have messed up your code (╯°□°)╯︵ ┻━┻",
          message: err.message,
        };
      }
    }
    this.loading = false;
  },
  mounted() {
    this.fetchNews();
    this.connectionN();
  },
};
</script>

<style></style>
