<template>
  <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-2">
    <h1 class="text-lg">Last 7 Days</h1>
    <div class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative">
      <vue3-chart-js v-bind="{ ...lineChart }" />
      <div class="py-4 text-center grid grid-cols-3">
        <p>Total Blocked</p>
        <p>Requests Scanned</p>
        <p>Some useful info</p>
        <p>{Some Data}</p>
        <p>{Some Data}</p>
        <p>{Some Data}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";
export default {
  name: "chart7d",
  components: {
    Vue3ChartJs,
  },
  setup() {
    const lineChart = {
      type: "line",
      height: 135,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "none",
          },
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
            },
            display: true,
            ticks: {
              callback: function (value) {
                return `${value}`;
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
            },
          },
        },
      },
      data: {
        labels: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday",
        ],
        datasets: [
          {
            label: "Blocked Attacks",
            backgroundColor: ["#2980b9"],
            data: [0, 10, 20, 50, 0, 20, 10],
          },
        ],
      },
    };

    return {
      lineChart,
    };
  },
};
</script>
