// Just graphs and stats showing how good everything is working

<template>
  <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-2">
    <h1 class="text-lg">Doughnut Chart</h1>
    <div class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative">
      <vue3-chart-js v-bind="{ ...doughnutChart }" />
    </div>
  </div>
</template>

<script>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";
export default {
  name: "doughnutChart",
  components: {
    Vue3ChartJs,
  },
  setup() {
    const doughnutChart = {
      type: "doughnut",
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "none",
          },
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
            },
            display: true,
            ticks: {
              callback: function (value) {
                return `${value}`;
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
            },
          },
        },
      },
      data: {
        labels: ["Red", "Blue", "Yellow"],
        datasets: [
          {
            label: "Blocked Attacks",
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(54, 162, 235)",
              "rgb(255, 205, 86)",
            ],
            data: [42, 30, 10],
          },
        ],
      },
    };

    return {
      doughnutChart,
    };
  },
};
</script>
