<template>
  <!-- License info -->
  <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
    <h1 class="text-lg">License</h1>
    <div class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative">
      <div
        class="
          container
          px-3
          bg-gray-200
          w-11
          rounded-full
          py-3
          absolute
          right-4
        "
      >
        <router-link to="/Manage">
          <img src="../assets/next.svg" class="next"
        /></router-link>
      </div>
      <h1 class="text-sm">Connected Computers</h1>
      <h1 class="text-lg">{{ agents }}/{{ licences }}</h1>
      <br />
      <h1 class="text-sm">License</h1>
      <h1 class="text-lg">{{ type }}</h1>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: "license",
      agents: null,
      licences: null,
      type: null,
    };
  },
  methods: {
    connectionN() {
      console.log("api connected");
    },
    api_request() {
      axios
        .get("http://54.37.205.166/license")
        .then(
          (response) => (
            (this.agents = response.data.agents),
            (this.licences = response.data.licences),
            (this.type = response.data.type)
          )
        );
    },
  },
  mounted() {
    this.api_request();
    this.connectionN();
  },
};
</script>
