// Add buttons

<template>
  <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
    <h1 class="text-lg">Settings</h1>
    <div class="container px-4 bg-white w-full my-6 rounded-2xl py-4 relative">
      <div
        class="
          container
          px-3
          bg-gray-200
          w-11
          rounded-full
          py-3
          absolute
          right-4
        "
      >
      
    </div>
  </div>
</template>

<script>
export default {
  name: "settings",
};
</script>
