<template>
  <!-- Short info -->
  <div class="container px-4 bg-gray-200 my-6 rounded-2xl py-2 row-span-1">
    <div class="container px-4 bg-white my-6 rounded-2xl py-2 flex relative">
      <div class="container px-3 bg-red-400 w-14 rounded-2xl py-3">
        <img src="../assets/block.svg" class="flex-grow-0" />
      </div>
      <h1 class="text-xl flex-none ml-4">
        Blocked Attacks <br />
        650
      </h1>
      <div
        class="
          container
          px-3
          bg-gray-200
          w-11
          rounded-full
          py-3
          absolute
          right-4
        "
      >
        <router-link to="/Stats">
          <img src="../assets/next.svg" class="next" />
        </router-link>
      </div>
    </div>
    <div class="container px-4 bg-white my-6 rounded-2xl py-2 flex relative">
      <div class="container px-3 bg-yellow-400 w-14 rounded-2xl py-3">
        <img src="../assets/update-arrows.svg" class="flex-grow-0" />
      </div>
      <h1 class="text-xl flex-none ml-4">
        Version <br />
        {{ latest }} |
        {{ status }}
      </h1>
      <div
        class="
          container
          px-3
          bg-gray-200
          w-11
          rounded-full
          py-3
          absolute
          right-4
        "
      >
        <router-link to="/Manage">
          <img src="../assets/next.svg" class="next" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: "shortinfo",
      latest: null,
      status: null,
    };
  },
  methods: {
    api_request() {
      axios
        .get("http://54.37.205.166/agents/update")
        .then(
          (response) => (
            (this.latest = response.data.latest),
            (this.status = response.data.status)
          )
        );
    },
  },
  mounted() {
    this.api_request();
  },
};
</script>
