// Very important file that contains all routings and where to show components,
also here is menu

<template>
  <div class="h-screen w-screen flex">
    <div class="nav p-7">
      <div class="container px-4 bg-gray-900 h-full rounded-2xl py-2">
        <router-link to="/"
          ><img src="./assets/loupe.svg" class="iconav m-2 py-1.5"
        /></router-link>
        <router-link to="/Stats">
          <img src="./assets/bar-chart.svg" class="iconav m-2 py-1.5"
        /></router-link>
        <router-link to="/Manage">
          <img src="./assets/data-management.svg" class="iconav m-2 py-1.5"
        /></router-link>
        <router-link to="/Settings">
          <img src="./assets/cogs.svg" class="iconav m-2 py-1.5"
        /></router-link>
        <router-link to="/User">
          <img src="./assets/user.svg" class="usernav m-2 py-1.5"
        /></router-link>
        <p class="navtext">
          Welcome <br />
          {{ username }}!
        </p>
      </div>
    </div>
    <div class="container my-7 py-2">
      <router-view />
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      name: "App",
      username: null,
      error: null,
    };
  },
  methods: {
    connectionN() {
      console.log("api connected");
    },
    api_request() {
      axios
        .get("http://54.37.205.166/general/user")
        .then((response) => (this.username = response.data.name));
      if (this.error == null) {
        this.$toastMsg(`Connected to API! 🎉`);
      }
    },
  },
  mounted() {
    this.api_request();
    this.connectionN();
  },
};
</script>
