@tailwind base;
@tailwind components;
@tailwind utilities;

.iconav {
  height: 45px;
  filter: invert(83%) sepia(9%) saturate(6%) hue-rotate(316deg) brightness(94%)
    contrast(82%);
}
.iconav:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
.iconav:active {
  filter: invert(47%) sepia(100%) saturate(1749%) hue-rotate(166deg)
    brightness(99%) contrast(98%);
}

.next:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

p.navtext {
  color: #bdbdbd;
  text-align: center;
  font-size: small;
  position: absolute;
  bottom: 50px;
}
.nav {
  width: 140px;
}
.usernav {
  position: absolute;
  bottom: 80px;
  height: 45px;
  filter: invert(83%) sepia(9%) saturate(6%) hue-rotate(316deg) brightness(94%)
    contrast(82%);
}
.usernav:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
